Dashboard
<br>
<%= @user.inspect %>
<br>
<%= @student.inspect %>

<br>
<br>
<br>
Student Name : <%= @student.name %>
<br>
Student Matric No : <%= @student.matric_no %>
<br>
Programme : <%= @student.department.bachelor.name %>
<br>
Student Department : <%= @student.department.name %>
<br>	
Current CGPA :
<br>
<br>
<br> 

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>No</th>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Credit Hours</th>
                <th>Grade</th>
                <th>Grade Points</th>
            </tr>
        </thead>
        <tbody>
        	<% @enrollments.each_with_index do |e, i| %>
        	<tr class="success">
        		<td><%= i+1 %></td>
        		<td><%= e.course.course_code %></td>
        		<td><%= e.course.name %></td>
        		<td><%= e.course.ch %></td>
        		<td><%= e.grade.name %></td>
        		<td><%= e.grade.points %></td>
        	</tr>
        	<% end %>
        </tbody>
    </table>
</div>

<%= link_to 'New Enrollment', new_enrollment_path %>
