<h3>Dashboard</h3>
<br>
<%#= @user.inspect %>
<br>
<%#= @current_student.inspect %>



<br>
Student Name : <%= @current_student.name %>
<br>
Student Matric No : <%= @current_student.matric_no %>
<br>
Programme : <%= @current_student.department.bachelor.name %>
<br>
Student Department : <%= @current_student.department.name %>
<br>


<% gpa = @cgpa_included_enrollments.inject(0) { |sum, p| sum + p.grade.points * p.course.ch } %>
<% ch = @cgpa_included_enrollments.inject(0) { |sum, p| sum + p.course.ch } %>
Current CGPA : <strong><%= (gpa/ch).round(2) if ch != 0 %></strong>

<br>
<br>
Last Login: <%= l(current_user.last_sign_in_at, format: "%Y-%m-%-d %H:%M:%S") %>

<br>

<div class="container">
    <div class="row">
        <div class="col-xs-11">
            <h3>SPI : </h3> 
        </div>
        <a href="#portfolioModal1" class="btn btn-default col-xs-1" data-toggle="modal">
            <span class="glyphicon glyphicon-info-sign center-block" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Grading scheme"></span>
        </a>
    </div>
    <div class="row">
        <% @course_components.each_with_index do |component, index| %>
        <div class="col-md-1 col-sm-2 col-xs-3 text-center" data-toggle="tooltip" data-placement="bottom" title="<%= component.name %>" >
            <% required_ch = Spi.find_by(department_id: @current_student.department_id, course_component_id: component.id).required_ch %>
            <% earned_ch = @current_student.courses.where(course_component_id: component.id).inject(0) { |sum, c| sum += c.ch } %>
            <% if earned_ch == required_ch %>
                <button class="btn btn-success btn-block active" type="button">
            <% elsif earned_ch > required_ch %>
                <button class="btn btn-warning btn-block active" type="button">
            <% else %>
                <button class="btn btn-danger btn-block active" type="button">
            <% end %>
                <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                <span class="badge"><%= earned_ch %></span>
            </button>
            <div>
                <h5><%= component.code %></h5>
            </div>
        </div>
        <% end %>
    </div>
</div>


<br>



<%= link_to 'New Enrollment', new_enrollment_path %>
<br>
<br>

<%#= @last_completed_enrollment.inspect %>

<!-- Previous Semester : <%#= @last_completed_enrollment.academic_year_semester.academic_year.name %>,  <%#= @last_completed_enrollment.academic_year_semester.semester.name %> -->

<% @academic_sessions.each_with_index do |session, index| %>
    <% incompleted_enrollments = @incompleted_enrollments.where(academic_year_semester_id: session.id) %>
    <!-- grade_id = nil is not taken into consideration because -->
    <!-- the goals set do have grades. -->

    <% if index == 0 %>
        <!-- if completed = FALSE -->
        <!-- # show only if the enrollments are NOT completed-->
        <div><b>Current Semester</b></div>
        <br>
    <% end %>

    <!-- show only if session has enrollments as well as both academic_year and semester -->
    <% if session.academic_year_id != nil && session.semester_id != nil && incompleted_enrollments != [] %>
        <div><%= session.academic_year.name %>, <%= session.semester.name %>
        <div class="pull-right"><%= link_to 'Edit', edit_enrollment_path(session.id) %></div>
        </div>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Course Code</th>
                            <th>Course Name</th>
                            <th>Credit Hours</th>
                            <th>Grade</th>
                            <th>Grade Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% incompleted_enrollments.each_with_index do |e, i| %>
                        <tr class="warning">
                            <td><%= i+1 %></td>
                            <td><%= e.course.code %></td>
                            <td><%= e.course.name %></td>
                            <td><%= e.course.ch %></td>
                            <td><% if e.grade != nil %><%= e.grade.name %><% end %></td>
                            <td><% if e.grade != nil %><%= e.grade.points %><% end %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
    <% end %>
<% end %>


<% @academic_sessions.each_with_index do |session, index| %>
    <% completed_enrollments = @completed_enrollments.where(academic_year_semester_id: session.id) %>

    <% total_gpa = completed_enrollments.inject(0) { |sum, p| p.grade.points != nil ? sum + p.grade.points * p.course.ch : sum } %>
    <% total_ch = completed_enrollments.inject(0) { |sum, p| sum + p.course.ch } %>

    <% completed_cgpa_included_enrollments = completed_enrollments - @cgpa_excluded_enrollments %>
    <% final_gpa = completed_cgpa_included_enrollments.inject(0) { |sum, p| sum + p.grade.points * p.course.ch } %>
    <% final_ch = completed_cgpa_included_enrollments.inject(0) { |sum, p| sum + p.course.ch } %>

    <% if index == 0 %>
        <!-- if completed = TRUE -->
        <!-- # show only if the enrollments are completed-->
        <div><b>Previous Semesters</b></div>
        <br>
    <% end %>

    <!-- show only if session has enrollments as well as both academic_year and semester -->
    <% if session.academic_year_id != nil && session.semester_id != nil && completed_enrollments != [] %>
        <div><%= session.academic_year.name %>, <%= session.semester.name %>
        <div class="pull-right"><%= link_to 'Edit', edit_enrollment_path(session.id) %></div>
        </div>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Course Code</th>
                            <th>Course Name</th>
                            <th>Credit Hours</th>
                            <th>Grade</th>
                            <th>Grade Points</th>
                            <th>GPA</th>
                        </tr>
                    </thead>
                    <tbody>
                    	<% completed_enrollments.each_with_index do |e, i| %>
                        <% if @cgpa_excluded_enrollments.exists?(id: e.id) %>
                            <tr class="active">
                        <% else %>
                    	   <tr class="success">
                        <% end %>
                    		<td><%= i+1 %></td>
                    		<td><%= e.course.code %></td>
                    		<td><%= e.course.name %></td>
                    		<td><%= e.course.ch %></td>
                    		<td><%= e.grade.name %></td>
                    		<td><%= e.grade.points != nil ? e.grade.points * e.course.ch : "-" %></td>
                            <td></td>
                    	</tr>
                        <% end %>
                        <tr class="info">
                            <td colspan="3"><div class="text-right"><strong>Total</strong></div></td>
                            <td><%= total_ch %></td>
                            <td></td>
                            <td><%= total_gpa %></td>
                            <td><strong><%= (final_gpa/final_ch).round(2) if final_ch != 0 %></strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
    <% end %>
<% end %>

<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Grading Scheme</h2>
                        <p class="item-intro text-muted">University of Malaya<br>Last Updated : 2010</p>
                        <%= image_tag "university/um_grading_scheme.png", class: "img-responsive img-centered", alt: "" %>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>