New Enrollment
<br>
<br>

Current user: <%= current_user.inspect %>

<br>
<br>
New Enrollment: <%= @enrollment.inspect %>

<br>
<br>
Student: <%= current_user.student.inspect %>

<br>
<br>

<%= nested_form_for(@current_student, html: { class: 'form-horizontal' }) do |f| %>
  
  <%= f.fields_for :enrollments do |e| %>
  	<div class="form-group">
      <%= e.label :course_id, for: :course_id, class: 'col-xs-3 control-label' %>
        <div class="col-xs-9">
          <%= e.collection_select :course_id, Course.all, :id, :name, {prompt: "Select your Course"}, {class: 'form-control'} %>
        </div>
    </div>
  <% end %>
  
  <%= f.link_to_add 'Add Course', :enrollments, class: "col-xs-9 col-xs-offset-3" %>

	<div class="form-group">
    <div class="col-xs-9 col-xs-offset-3">
      <%= f.submit "Enroll Now", class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-9 col-xs-offset-3">
      <%= f.submit "Predict Now", class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>


