<div>
<p>Current CGPA: <strong><%= @current_cgpa %></strong></p>
</div>
<div>
<p>GPA:</p>
</div>


<form class="form-horizontal">
  <div class="form-group">
    <%= label_tag(:academic_year_semester_id, "Academic Session", { class: 'col-xs-3 control-label' }) %>
      <div class="col-xs-9">
          <!-- <%#= select_tag :academic_year_semester_id, options_from_collection_for_select(AcademicYearSemester.all, :id, :virtual_name), prompt: "Please select your Academic Session", class: 'form-control' %> -->
          <%= collection_select :enrollments, :academic_year_semester_id, @incomplete_academic_sessions, :id, :virtual_name, {prompt: "Please select your Academic Session"}, {class: 'form-control', required: true} %>   
      </div>
  </div>
</form>

<%= nested_form_for(@current_student, html: { class: 'form-horizontal' }) do |f| %>
  
  <%= f.fields_for :enrollments do |e| %>
    <!-- show only if the record not exists in the database/ hide existing records -->
    <% if !e.object.persisted? %>
      <%= e.hidden_field :academic_year_semester_id, class: 'featureP', value: nil %>

      <div class="form-group">
        <%= e.label :course_id, for: :course_id, class: 'col-xs-3 control-label' %>
          <div class="col-xs-9">
            <%= e.collection_select :course_id, @incomplete_courses, :id, :name, {prompt: "Select your Course"}, {class: 'form-control'} %>
          </div>
      </div>

      <div class="form-group">
        <%= e.label :grade_id, for: :grade_id, class: 'col-xs-3 control-label' %>
          <div class="col-xs-9">
            <%= e.collection_select :grade_id, Grade.all, :id, :name, {prompt: "Select your Grade"}, {class: 'form-control', onchange: 'checkCompleted(this.id)'} %>
          </div>
      </div>

      <!-- If a grade is selected, check the checkbox -->
      <div class="form-group">
        <div class="col-xs-3 control-label">
          <%= e.check_box :completed %>
        </div>
        <div class="col-xs-9">
          <%= e.label :completed, "completed" %>
        </div>
      </div>
    <div class="form-group">
      <div class="col-xs-9 col-xs-offset-3">
        <%= e.link_to_remove 'Remove' %>
      </div>
    </div>
    <% end %>
  <% end %>
  
  <%= f.link_to_add 'Add Course', :enrollments, class: "col-xs-9 col-xs-offset-3" %>

  <div class="form-group">
    <div class="col-xs-9 col-xs-offset-3">
      <%= f.submit "Enroll Now", onclick: 'getSelectedSessionId()', class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-9 col-xs-offset-3">
      <%= f.submit "Predict Now", class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>



