<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <h1>Log in</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>

      <div class="form-group">
        <%= f.label :username, for: :username, class: 'col-xs-3 control-label' %>
        <div class="col-xs-9">
          <%= f.text_field :username, autofocus: true, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, for: :password, class: 'col-xs-3 control-label' %>
        <div class="col-xs-9">
          <%= f.password_field :password, autocomplete: "off",  class: 'form-control' %>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me, class: 'col-xs-1 control-label' %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="form-group">
        <div class="col-xs-9 col-xs-offset-3">
          <%= f.submit "Log in", class: 'btn btn-primary' %>
        </div>
      </div>

    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %> 
